<div class="text-center mt-4 mb-4">
  <h1>Gossip Feed</h1>

  <%= link_to "Rédiger un Gossip", new_gossip_path, :class => "btn btn-primary btn-lg" %>
</div>

<% @gossips.each do |gossip| %>
<% @gossip_id = gossip.id %>

  <div class="container">
    <div class="card-deck">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= gossip.title %></h5>
          <p class="card-text">
            <%= gossip.content %>
            <small class="text-muted"><%= gossip.user.first_name %></small></br>
            <%= link_to "Consulter", gossip_path(@gossip_id) %></br>
            <% if gossip.user == current_user %>
              <%= link_to "Modifier", edit_gossip_path(@gossip_id) %> -
              <%= link_to "Supprimer", gossip_path(@gossip_id), :confirm => "Are you sure?", :method => :delete %></br>
            <% end %>
            <% if logged_in? %>
              <%= link_to "Like", gossip_likes_path(@gossip_id),  method: "post" %>
              <%= link_to "Unlike", gossip_like_path(gossip.user.id, @gossip_id), :method => :delete %>
            <% end %>
            <small class="text-muted"><%= gossip.likes.count %> like(s)</small>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>