<h1 class="text-center">Gossip N°<%= @gossip_id %></h1>

  <div class="container">
    <div class="card-deck">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= @gossip.title %></h5>
          <p class="card-text">
            <%= @gossip.content %></br>
            <small class="text-muted"><%= @gossip.user.first_name %> <%= @gossip.user.last_name %> (<%= link_to "Ville", city_path(@gossip.user.city.id) %> : <%= @gossip.user.city.name %>)</small></br>
            <% if @gossip.user == current_user %>
              <%= link_to "Modifier", edit_gossip_path(@gossip_id) %> -
              <%= link_to "Supprimer", gossip_path(@gossip_id), :confirm => "Are you sure?", :method => :delete %></br>
            <% end %>
            <% if logged_in? %>
              <%= link_to "Like", gossip_likes_path(@gossip_id),  method: "post" %>
              <%= link_to "Unlike", gossip_like_path(@gossip_id), :method => :delete %>
            <% end %>
            <small class="text-muted"><%= @gossip.likes.count %> like(s)</small>
          </p>
        </div>
      </div>
    </div>
  </div>

<h2 class="text-center">Commentaires</h2>

  <% @comments.each do |comment| %>
  <% id = comment.id %>

  <div class="container">
    <div class="card-deck">
      <div class="card" style="height:12rem;">
        <div class="card-body">
          <p> <%= comment.content %></p>
          <p class="card-text">
            <small class="text-muted"><%= comment.user.first_name %>, <%= comment.created_at %></small></br>
            <% if comment.user == current_user %>
              <%= link_to "Supprimer", gossip_comment_path(id), :confirm => "Are you sure?", :method => :delete %></br>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <% if logged_in? %>
    <%= form_tag gossip_comments_path(@gossip_id), method: "post" do %>

      <%= label_tag 'Commentaire' %>
      <%= text_area_tag 'content' %>
      <br /> <br />

    <%= submit_tag "Valider" %>
    <% end %>
  <% end %>